<header>
    <nav class="navMenu">
      <div class="logo">
        <a href="/">/Avidu</a>
      </div>
      <div class="menuLinks">
        <a href="/website-designs">Which</a>
        <a href="/my-works">Works</a>
        <a href="/about-me">Me</a>
      </div>
    </nav>
  </header>
  
  <style>
    a {
      /* padding: 10px; */
    }
  
    .navMenu {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }
  
    .menuLinks {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }
  
    .menuLinks a {
      padding: 0 0.5rem;
    }
  </style>
  