---

---

<div>
    <p class="p-lg">
      If you needs a website, but not just another website? - In a world of most
      the sites look and feels the same, there are less chance to stand out from
      the competition.
  
      <br />
      <br />
       This is where custom design comes, each website I create based on your
      target audience not templates. So that your customer gets more tailored
      experience and there are more and more chance to engage with your brand.
    </p>

    <div class="container">
      <h3 class="title">FAST WEBSITES</h3>
      <hr>
      <p class="des">
        The importance of a fast website cannot be overstated in today's digital landscape. It directly impacts user experience, search engine rankings, and overall business success.
      </p>
    </div>

    <div class="container">
      <h3 class="title">COST EFFECTIVENESS</h3>
      <hr>
      <p class="des">
Websites I build based on modern approaches like 'Jamstack'. Its purpose is to create fast and secure sites, other than it provides ways to get started with 0 cost. So you can invest all into your business's success.      </p>
    </div>

    <div class="container">
      <h3 class="title">EASE OF CHANGE</h3>
      <hr>
      <p class="des">
        To change a text on your website - you don't have to go to the site and open a website builder. Instead, we can use a browser-based dashboard to manage not just the text but all of your content on the website.
      </p>
    </div>
  </div>
  
  <style>
    .container {
      background-color: #dadada;
      padding: 0.5rem;
      margin-top: 0.5rem;
    }

    hr {
      margin: 0.5rem;
      background-color: black;
    }
    h3 {
      text-align: center;
    }

    .des {
      text-align: justify;
    }
  </style>