---
interface Props {
  title: string;
}

const { title } = Astro.props;
---

<div class="heroContainer">
  <h1>
    {title}
  </h1>
</div>

<style>
  .heroContainer {
    display: flex;
    flex-direction: column;
    min-height: 95vh;
    justify-content: flex-end;
    background-image: url("https://res.cloudinary.com/avidu/image/upload/v1695488712/ezgif.com-gif-maker_1_ndll1k.webp");
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
  }
</style>
